= form_for @actions, url: {action: 'create'} do |form|
.form
    %form
    %input.form__message
    .form__mask
        %label.form__mask__image
        = fa_icon 'picture-o', class: 'icon'
        %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: '投稿する'}