.action{
  font-size: 40px;
  margin: 20px;
}

.contents.row{
  font-size: 40px;
  margin: 30px;
  text-align: center;
}

.text{
  font-size: 30px;
  text-align: center;
}

.bottom{
  text-align: left;
}

.name{
  font-size: 30px;
}

.content_post{
  background-repeat:  no-repeat;
  height: 100vh;
  width: 100vw;
  max-width: 50%;
  margin: 0 auto;
}
