.top {
  justify-content: space-around;
  text-align: center;
  font-size: 30px;

  .top_1 {
    margin: 30px;
    .top__1 {
      margin: 20px;
    }
  }

  .top_2 {
    margin: 30px;
    .top__2 {
      margin: 20px;
    }
  }

  .top_3 {
    margin: 30px;
    .top__3 {
      margin: 20px;
    }
  }

  .top_4 {
    margin: 30px;
    .top__4 {
      margin: 20px;
    }
  }

  .top_5 {
    margin: 30px;
    .top__5 {
      margin: 20px;
    }
  }
}
