.con{
  flex-wrap:wrap ;
  display: flex;
  margin: 50px;
  .con_2{
    font-size: 30px;
    padding: 0.5em 1em;
    color: #000;
    border-radius: 9px;
  }
  .con_3{
    font-size: 25px;
    width: 900px;
    height: 465px;
    padding: 0.5em 1em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
}
